/* overrides for dark mode */
[data-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #e9ecef;
    --bs-light: #343a40;
    --bs-dark: #dee2e6;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
}

    [data-theme="dark"] .navbar {
        background-color: #343a40 !important;
    }

    [data-theme="dark"] .table {
        --bs-table-bg: #1e1e1e;
        --bs-table-color: #e9ecef;
        --bs-table-border-color: #495057;
    }

    [data-theme="dark"] .form-control,
    [data-theme="dark"] .form-control:focus {
        background-color: #1e1e1e;
        color: #e9ecef;
        border-color: #495057;
    }

    [data-theme="dark"] .btn-outline-secondary {
        color: #e9ecef;
        border-color: #6c757d;
    }
