@using MentalMonitor.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link position-relative" asp-controller="Alert" asp-action="Index">
                Alerts
                <span id="alertBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                      style="display:none;">0</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
<li class="nav-item ms-auto">
    <button id="themeToggle" class="btn btn-sm btn-outline-secondary">
        🌙
    </button>
</li>